.vscode
.idea
*.xyz
node_modules
tmp.zip
map.png
/marketing/video.mp4
/android/.gradle
/android/local.properties
/android/build
/android/app/build
/android/app/src/main/assets/www/src
/android/app/src/main/assets/www/assets
/android/app/src/main/assets/www/index.html
/android/app/src/main/assets/www/favicon.svg
/android/app/src/main/assets/www/favicon.ico
/android/app/src/main/assets/www/apple-touch-icon.png
/android/app/src/main/assets/www/favicon-96x96.png
/android/app/src/main/assets/www/site.webmanifest
/android/app/src/main/assets/www/web-app-manifest-192x192.png
/android/app/src/main/assets/www/web-app-manifest-512x512.png
/android/app/release