html, body {
  cursor: pointer;
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

#desk {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'magnifier map'
    'notes     map'
    'notes     profile';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr minmax(150px, 0.5fr);
  gap: 7px;
  background-color: burlywood;
}

#magnifierContainer {
  grid-area: magnifier;
}

#mapContainer {
  grid-area: map;
}

#magnifierContainer, #mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#magnifier, #map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#magnifierRoute, #mapRoute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#notes {
  grid-area: notes;
  background-color: rgb(250, 255, 245);
  width: 100%;
  height: 100%;
  font-family: notesFont;
  font-style: normal;
  font-size: 18px;
}

#costsContainer, #limitsContainer {
  display: grid;
  margin: 10px;
  grid-template-columns: auto 55% 15px;
}

.value {
  text-align: right;
}

.selector {
  margin-left: 3px;
  background-image: url("./eye.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#budgetLabel, #budgetValue {
  border-bottom: 1px solid black;
}

#balanceLabel, #balanceValue {
  border-top: 1px solid black;
}

#profile {
  grid-area: profile;
  background-color:rgb(250, 255, 245);
  width: 100%;
  height: 100%;
}
