#magnifierContainer {
  position: fixed;
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1;
  width: auto;
  height: 35vh;
  left: 20px;
  bottom: 20px;
  background-color: #e5e7dd;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

#magnifierBorder {
  position: absolute;
  width: 174%;
  height: 174%;
  top: -2px;
  right: -3px;
   background-image: url('../images/magnifier.svg');
  background-size: cover;
  background-position: right top;
}

#magnifierContainer, #magnifier, #magnifierRoute {
  border-radius: 100%;
}

#mapAndProfileContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

#mapContainer {
  flex: 1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 5px;
}

#profile {
  flex: 1;
  cursor: pointer;
  max-height: 30vh;
}

#magnifier, #map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mapBorder {
  box-shadow: inset 0px 0px 5px 5px #E3E5DB;
}

#magnifierRoute, #mapRoute, #mapBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#notesContainer {
  flex-basis: 200px;
  min-width: 200px;
  margin-right: 7px;
}

#notes {
  width: 100%;
  font-family: notesFont;
  font-style: normal;
  font-size: 18px;
  padding-bottom: 15px;
}

#costsContainer, #limitsContainer {
  display: grid;
  margin: 10px;
  grid-template-columns: auto 55% 15px;
  filter: none;
}

#limitsContainer {
  margin-bottom: 15px;
}

.value {
  text-align: right;
}

.selector {
  margin-left: 3px;
  background-image: url("../images/eye.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#budgetLabel, #budgetValue {
  border-bottom: 1px solid black;
}

#balanceLabel, #balanceValue {
  border-top: 1px solid black;
}

#profileToggle, #notesToggle, #helpToggle {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #9b9c93;
  background-color: #eef0e6;
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  opacity: 0.7;
  cursor: pointer;
}

#profileToggle:hover, #notesToggle:hover, #helpToggle:hover {
  box-shadow: none;
  background-color: #dee0d6;
}

#profileToggle {
  bottom: -15px;
  left: calc(50vw - 25px);
  background-image: url("../images/profileToggle.svg");
}

#notesToggle {
  left: -15px;
  top: calc(50vh - 25px);
  background-image: url("../images/notesToggle.svg");
  background-position: right;
  border-width: 5px;
}

#helpToggle {
  top: 10px;
  right: 10px;
  background-image: url("../images/helpToggle.svg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}

#helpCloseButton {
  display: block;
  margin: 20px auto 0px;
  max-width: 200px;
}

@media screen and (max-height: 500px) {
  #magnifierContainer {
    display: none;
  }

  #mapContainer {
    margin-bottom: 0;
  }
  #profile {
    display: none;
  }
  #profileToggle {
    display: block;
  }
  #profile.toggled {
    display: block;
    position: fixed;
    max-height: none;
    top: 5px;
    right: 5px;
    height: calc(100vh - 10px);
    width: calc(100vw - 215px);
  }
}

@media screen and (max-width: 700px) {
  #notesContainer {
    display: none;
  }
  #notesToggle {
    display: block;
  }
  #profile.toggled {
    width: calc(100vw - 10px);
  }
  #notesContainer.toggled {
    display: block;
  }
}

@media screen and (max-width: 700px) and (min-height: 500px) {
  #magnifierContainer {
    display: none;
  }
}

@keyframes shake {
  0% { opacity: 0.9999; transform: rotate(0);}
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { opacity: 1; transform: rotate(0deg); }
}
