#levelSelector {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 600px;
}

#levelSelector>div {
  position: absolute;
  padding: 2px 10px 40px;
  width: calc(100% - 10px);
  max-width: 600px;
  font-family: notesFont;
  font-style: normal;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 30px 1fr max-content 30px;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: 
    "type  name         status      close"
    ".     description  description ."
    "info  info         info        info"
    "start start        start       start";
  gap: 10px;
  filter: brightness(95%);
}

.levelType {
  grid-area: type;
  align-self: start;
  width: auto;
  height: 30px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.levelName {
  grid-area: name;
}

.levelStatus {
  grid-area: status;
}

.levelCloseButton {
  grid-area: close;
  align-self: start;
  width: auto;
  height: 30px;
  display: none;
  background-image: url("../images/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.levelDescription {
  grid-area: description;
  font-style: italic;
  color: rgba(100, 100, 100, 1);
}

.levelInfo {
  grid-area: info;
  justify-self: center;
  width: fit-content;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  gap: 5px 20px; 
  padding: 20px 0; 
}

@media screen and (max-width: 500px) {
  .levelInfo {
    grid-template-columns: max-content;
  }
}

.levelInfo>div:nth-child(2n) {
  font-style: italic;
  color: rgba(100, 100, 100, 1);
}

.levelStartButton {
  grid-area: start;
  justify-self: center;
  width: fit-content;
}

#levelSelector>div.levelSelected {
  z-index: 1000 !important;
  cursor: inherit;
  filter: inherit;
}

#levelSelector>div.levelSelected .levelCloseButton {
  display: block;
}

#levelSelector>div:last-child .levelCloseButton {
  display: none;
}

#account {
  position: fixed;
  width: calc(100% - 600px);
  height: 100%;
  right: 0;
  z-index: 2000;
  transition: width 0.5s;
  transition-timing-function: ease-out;
}

#accountBalance {
  position: fixed;
  bottom: -10px;
  right: -10px;
  width: fit-content;
  padding: 10px 20px;
  font-family: notesFont;
  font-size: 24px;
  transform: rotate(-0.05turn);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5))
}

.coinContainer {
  position: absolute;
  width: 75px;
  height: 75px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  transition: top 0.5s, left 0.5s;
  transition-timing-function: ease-out;
}

.coin {
  width: 100%;
  height: 100%;
  background-image: url("../images/coin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}